body
{
}

A
{
	color: #FFF;
	font-weight: normal;
	font-family: Arial, Helvetica, sans-serif;
	text-decoration: none;
}

A:visited { text-decoration: none; }

A.rouge:hover
{
	color: #D00;
	text-decoration: none;
}
A.vert:hover
{
	color: #0D0;
	text-decoration: none;
}

A:active { text-decoration: none; }

.boutonvert
{
	background-color: #050;
	font-weight: bold;
	text-align: center;
}